[Unit]
Description=Fixes ARandR resolution and depth in TwisterOS
Requires=display-manager.service
After=syslog.target network-online.target ##optional for better performance
Wants=syslog.target network-online.target ##optional for better performance

[Service]
Type=oneshot
ExecStartPre=xrandr --newmode "1440x900_60.00"  106.50  1440 1528 1672 1904  900 903 909 934 -hsync +vsync  
ExecStart=xrandr --addmode HDMI-1 1440x900_60.00 && xrandr -s 1440x900
ExecStop=/bin/kill  ${MAINPID}
#Restart=on-failure
#RestartSec=2
StandardOutput=journal
RemainAfterExit=false

[Install]
WantedBy=multi-user.target

## CAUTION ##
# For the first time start please follow steps
#
# 1- Copy this service file under /etc/systemd/system/ folder
# 2- Write this command into terminal with replacing your password stirng with MY_PASSWORD: 
#    sudo x11vnc -storepasswd MY_PASSWORD /etc/x11vnc.pwd
# 3- Reload daemon and start service:
#    systemctl daemon-reload
#    systemctl enable x11vnc
#    systemctl start x11vnc
