[Unit]
Description=VNC Server for X11
Requires=display-manager.service
After=syslog.target network-online.target ##optional for better performance
Wants=syslog.target network-online.target ##optional for better performance

[Service]
ExecStart=/usr/bin/x11vnc -display :0 -rfbauth /etc/x11vnc.pwd -shared -forever -o /var/log/x11vnc.log
ExecStop=/usr/bin/x11vnc -R stop
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

## CAUTION ##
# For the first time start please follow steps
#
# 1- Copy this service file under /etc/systemd/system/ folder
# 2- Write this command into terminal with replacing your password stirng with MY_PASSWORD: 
#    sudo x11vnc -storepasswd MY_PASSWORD /etc/x11vnc.pwd
# 3- Reload daemon and start service:
#    systemctl daemon-reload
#    systemctl enable x11vnc
#    systemctl start x11vnc
