[Unit]
DefaultDependencies=no
After=zfs-import-scan.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/zfs set readonly=off rpool/ROOT/suse && /usr/sbin/zfs mount -a

[Install]
WantedBy=multi-user.target
